$small: 575px;
$medium: 767px;
$large: 991px;
$xlarge: 1199px;
$xxlarge: 1399px;

$main-color: #f5f5f5;
$secondary-color: #fff;

$bg-color: #f5f5f5;
$bg-color-dark: #000;

$font-size: 18px;
$font-family: 'Roboto', sans-serif;