body {
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}

#main {
  .products {
    padding: 60px;

    .product {

      &__list {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px 66px;
      }

      &__item {
        // width: 30%;
        height: 600px;
        animation-name: slideInFromLeft;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 2s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        // margin-right: 65px;

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      &__link {

      }

      &__media {
        width: 100%;
        height: 550px;
        position: relative;
      }

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      &__icon {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #fff;
        padding: 5px;
        border-radius: 50%;
        transition: all 0.35s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }

      &__title {
        font-size: 18px;
        font-weight: 400;
        opacity: 0.8;
        text-transform: capitalize;
      }

      &__price {
        &::before {
          content: "€ ";
        }
      }

      &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
      }
    }
  }

  .banner {
    width: 100%;
    height: 450px;
    background-image: url("../assets/images/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px 100px;
    display: flex;
    align-items: center;

    &__title {


    }

    &__btn {
      padding: 15px 10px;
      color: #fff;
      background-color: gray;
      border: none;
      border-radius: 6px;
      margin-top: 20px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.35s ease-in-out;

      &:hover {
        background-color: #c54e23;
      }
    }
  }
}



#footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #000;
  padding: 20px 10px 5px; // both => left, right

  .footer {
    &__leftside {
      display: flex;
    }

    &__links {
      margin-right: 40px;

      &-title {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: -1px;
        word-spacing: 2px;
        margin-bottom: 10px;
      }

      &-list {
        margin-top: 10px;

        &-item {
          &-link {
            color: #fff;
            opacity: 0.4;
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
          }
        }
      }
    }

    &__rightside {
      width: 330px;
      display: inline-block;
      color: #fff;
    }

    &__title {
      font-weight: 600;
      margin-bottom: 10px;
    }

    &__content {
      margin: 20px 0;
    }

    &__contact {
      display: flex;
      flex-direction: column;
      color: white;
      width: 350px;
    }

    &__form {
      &-btn {
        width: 100%;
        padding: 15px;
        font-size: 18px;
        border: none;
        background-color: #c54e23;
        border-radius: 6px;
        color: #fff;
        font-weight: 600;
        margin-top: 10px;
      }

      &-input {
        width: 100%;
        display: block;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid grey;
      }
    }
  }
}


@keyframes slideInFromLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}