header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}

header img {
    height: 20vmin;
    pointer-events: none;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: #61dafb;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

header ul li {
    margin: 0 10px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

header ul li a:hover {
    color: #61dafb;
}

